// ---------------------
// Variables
// ---------------------

$debug: false;

// --- colors ---
$clr10: #ffffff;
$clr11: #FCFAF9;
$clr12: #66E2DC;
$clr13: #FA7453;
$clr14: #FFB964;
$clr15: #191826;

// --- font-sizes ---

$h1Max: 5.5rem; //88px
$h1Mid: 4rem; //64px
$h1Min: 2.5rem; //40px

$h2Max: 2.5rem; //40px
$h2Mid: 2.5rem; //40px
$h2Min: 2.5rem; //40px

$parMax: 1.25rem; //20px
$parMid: 1.125rem; //18px
$parMin: 1rem; //16px

$btnMax: 1.125rem; //18px
$btnMid: 1.125rem; //18px
$btnMin: 1.125rem; //18px

$specMax: 4.0625rem; // 65px
$specMid: 4.0625rem; // 65px
$specMin: 4.0625rem; // 65px

$footMax: 1rem; // 65px
